/* colors used
 #fffafa
 #addfad
 #9fe2bf
 #A9A9A9
 #E0E0E0

 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  padding: 1rem;
  background-color: #fffafa;
}

.header {
  height: 30vh;
   background-image: 
   /* linear-gradient(
      to right top,
      rgba(159, 226, 191, 0.6),
      rgba(173, 223, 173, 0.6)
    ), */
    url(../images/newclip.png);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(100% 0, 100% 88%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 88%, 0 100%, 0 0);
  padding-bottom: 10rem;
  z-index: 0;
}


.dropbtn {
  padding: 1.5rem;
  z-index: 1;
}
.drop {
  display: inline-block;
  position: fixed;
  z-index: 1;
  top: 0.3%;
  left: 0.2%;
}
.drop:hover {
  background-color: #9fe2bf;

}
.logo:hover {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg); 
  transform: rotate(180deg);
}
.content {
  position: absolute;
  display: none;
  background-color: #addfad;

}
.drop:hover .content {
  display: inline-block;
}
.content a {
  display: block;
  padding: 1.5rem;
  
}



.section-preview {
  background-color: #e0e0e0;
  padding: 5rem 0;
  margin-top: -10vh;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  z-index: -1;
}

.card {
  perspective: 150rem;
}
